/*Cadastrar*/
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  div {
    text-align: center;
  }

  nav {
    background-color: #333;
    padding: 10px;
    color: #fff;
  }
  
  nav:hover {
    background-color: #555;
  }
  
/*Destaque*/

div {
    text-align: center;
  }

  nav {
    background-color: #333;
    padding: 10px;
    color: #fff;
  }
  
  nav:hover {
    background-color: #555;
  }
  
  h1 {
    color: #333;
  }

  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    display: inline-block;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 14px;
    color: #555;
  }

  .card a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
  }
  
  .card a:hover {
    text-decoration: underline;
  }
  